<%- include('header') -%>
<div class="box">
  <h1 id="heading">List for <%= ListTitle %></h1>

  <form action="/delete" method="POST">
    <input type="hidden" name ="listName" value="<%= ListTitle %>">
    <% newListItems.forEach(item => { %>
    <div class="item">
      <input type="checkbox" onChange ="this.form.submit()", value="<%= item.id %>" name="checkbox"/>
      <p><%= item.name %></p>
    </div>
    <% }) %>
  </form>

  <form class="apply" action="/" method="POST">
    <input
      type="text"
      autocomplete="off"
      name="newItem"
      placeholder="New Item"
    />
    <button type="submit" name="list" value="<%= ListTitle %>">+</button>
  </form>
</div>

<%- include('footer') -%>
